@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your wishes, once entered into this application, become the property of The Magical Realm Inc., LLC.</p>
<p>No wishes will be disclosed, divulged, leaked, published, or made known without the express authorization of the Chief Thaumaturge or Head Genie.</p>
<p>The Magical Realm Inc., LLC shall not be held liable for poorly-made wishes. Any ambiguity in the wording of a wish is the sole responsibility of the Wish Maker.</p>
